body {
  height: 100vh;
}

.main-container {
  background-color: #370617;
  width: 1152px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.yellow-rectangle {
  background-color: #f48c06;
  width: 468px;
  height: 160px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

/*BLOCK*/

.first-block {
  align-items: flex-end;
}

.second-block {
  justify-content: center;
  align-items: center;
}

.third-block {
  align-items: center;
  justify-content: end;
}

.fourth-block {
  align-items: flex-start;
  justify-content: space-evenly;
}

.fifth-block {
  align-items: center;
  justify-content: center;
}

.sixth-block {
  justify-content: center;
  align-items: center;
}

/*BOXES*/

.red-square {
  background-color: #9d0208;
  width: 78px;
  height: 78px;
  border-radius: 4px;
  margin: 20px;
  text-align: center;
}

.stretch {
  background-color: #9d0208;
  width: 78px;
  height: auto;
  border-radius: 4px;
  margin: 20px;
  align-self: stretch;
}

.flex-end {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 2;
}

/*TEXT*/

.text-title {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
}

/*EXTRA PRACTIES CIRCLES*/

.main-container-circle {
  background-color: #faa307;
  width: 1152px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 859px; /*bredd: (273x3)+(2x20) - radbrytning */
  width: 100%;
}

.navy-square {
  background-color: #03071e;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  width: 273px;
  height: 220px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  background-color: #748cab;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  width: 50px;
  height: 50px;
}

/*ROWS*/

.row {
  display: flex;
  gap: 20px;
}
.row-third-block {
  display: flex;
  gap: 41px;
}

/*BLOCKS*/

.first-block-circle {
  flex-wrap: wrap;
}

.second-block-circle {
  background-color: #6a040f;
  flex-wrap: wrap;
  flex-flow: wrap-reverse;
  flex-direction: row-reverse;
  align-items: end;
}

.third-block-circle {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.fourth-block-circle {
  background-color: #6a040f;
  flex-wrap: wrap;
  gap: 41px;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fifth-block-circle {
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
