body {
  height: 100vh;
}

.main-container {
  background-color: #370617;
  width: 1152px;
  height: 700px;
  display: flex;
  align-items: center;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.yellow-rectangle {
  background-color: #f48c06;
  width: 468px;
  height: 160px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

.first-block {
  align-items: flex-end;
}

.second-block {
  justify-content: center;
  align-items: center;
}

.third-block {
  align-items: center;
  justify-content: end;
}

.fourth-block {
  align-items: flex-start;
  justify-content: space-evenly;
}

.fifth-block {
  align-items: center;
  justify-content: center;
}

.sixth-block {
  justify-content: center;
  align-items: center;
}

/*BOXES*/

.red-square {
  background-color: #9d0208;
  width: 78px;
  height: 78px;
  border-radius: 4px;
  margin: 20px;
  text-align: center;
}

.stretch {
  background-color: #9d0208;
  width: 78px;
  height: auto;
  border-radius: 4px;
  margin: 20px;
  align-self: stretch;
}

.flex-end {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 2;
}

/*TEXT*/

.text-title {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
}
